/* Styles for "Idiom switch" component */
.idiomSwitchContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: end;
  margin-right: 1rem;
}

.idiomSwitch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.idiomSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: oklch(90% 0.05 267.935);
  border-radius: 28px;
  transition: .4s;
  border: 2px solid oklch(28.2% 0.091 267.935);
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 2px;
  background: oklch(28.2% 0.091 267.935);
  border-radius: 50%;
  transition: .4s;
}

/* When the checkbox is checked, change the background color of the slider */
.idiomSwitch input:checked+.slider {
  background: oklch(28.2% 0.091 267.935);
}

/* Move the slider when the checkbox is checked */
.idiomSwitch input:checked+.slider:before {
  transform: translateX(22px);
  background: oklch(90% 0.05 267.935);
}